<div class="workout-index-wrapper">
<h1>みんなの筋トレ日記</h1>
  <div class="container">
    <% @workouts.each do |workout| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="workout-index-single">
            <h2 class="workout-author">
              <%= workout.user.name %>
            </h2>
            <p class="workout-text">
              <%= workout.description %>
            </p>
            
            <% if !workout.like_users.include?(current_user) %>
              <%= link_to likes_path(workout_id: workout.id), method: :post do %>
                <i class="far fa-heart like-btn" ></i>
              <% end %>
            <% else %>
              <%= link_to likes_path(workout_id: workout.id), method: :delete do %>
                <i class="fas fa-heart unlike-btn"></i>
              <% end %>
            <% end %>
            
            <%= workout.like_users.count %> <!-- 各投稿のいいね数を表示 -->
            <%= link_to "#" do %>
              <i class="far fa-comment"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>