<span><i class="fas fa-arrow-left"></i></span>
<h1>ユーザー詳細ページ</h1>
<div class="user-top-wrapper">
  <div class="container">
    
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="user-icon">

        </div>
        <%= link_to edit_user_path(current_user) do %>
          <div class="edit-btn">編集</div>
        <% end %>
        <%= link_to logout_path, method: :delete do %>
          <div cladd="logout-btn">ログアウト</div>
        <% end %>
        <div class="user-data">
          <p>名前：<%= @user.name %></p>
          <p>身長：<%= @user.height %></p>
          <p>体重：<%= @user.weight %></p>
          <p>BMI：</p>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="user-data-wrapper">
  <div class="container">
    <div class="row">
      <div class="user-heading">
        <div class="col-md-11 col-md-offset-1">
          <p>ここにマイデータという文字表記をする</p>
        </div>
        <div class="menu-heading">
          <div class="col-md-11 col-md-offset-1">
            <p class="training-menu">トレーニングメニュー</p>
            <p class="calender">カレンダー</p>
            <p class="graph">グラフ</p>
            <%= link_to "#" do %> 
              <%= image_tag 'icons/f_dumbbell.jpg' %>
            <% end %>
            <%= link_to "#" do %>
              <%= image_tag 'icons/f_note.jpg' %>
            <% end %>
            <%= link_to "#" do %>
              <%= image_tag 'icons/f_graph.jpg' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="user-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="user-index-wrapper">
          <p class="workout-index">
            ここにユーザーの投稿を一覧表示する
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
 