<!-- フォローしているユーザーとフォロワーの両方を表示 -->
<div class="user-follow-wrapper">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1><%= @user.name %></h1>
        <span><%= link_to "view my profile", @user %></span>
        <span><b>Workouts:</b> <%= @user.workouts.count %></span>
      </section>
      <section class="stats">
        <!-- フォローしているユーザーの情報を表示 -->
        <%= render 'shared/stats' %>
        <% if @users.any? %>
          <div class="user_avatars">
            <!--フォローしているユーザーのリンク付け-->
            <% @users.each do |user| %>
              <%= link_to "ユーザーの名前にする", user %>
            <% end %>
          </div>
        <% end %>
      </section>
    </aside>
    
    <div class="col-md-8">
      <h3><%= @title %></h3>
      <% if @users.any? %>

      <% end %>
    </div>
  </div>
</div>