<!DOCTYPE html>
<html>
  <head>
    <title>MuscleStone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <nav class="navbar navbar-default navbar-fixed navbar-transparent">
      <div class="container">
        <%= link_to root_path do %>
          <span><i class="fab fa-gripfire">MuscleStone</i></span>
        <% end %>
        
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to "#" do %>
                <span><i class="far fa-clock"></i></span>
              <% end %>
            </li>
            <li>
              <%= link_to new_workout_path do %>
                <span><i class="fas fa-dumbbell"></i></span>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <span><i class="fas fa-user-circle"></i></span>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to "#" do %>
                <span><i class="fas fa-dumbbell"></i></span>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <span><i class="fas fa-fire-alt"></i></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
