<!DOCTYPE html>
<html>
  <head>
    <title>MuscleStone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <nav class="navbar navbar-default navbar-fixed navbar-transparent">
      <div class="container">
        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-left">
            <li>
              <%= link_to workouts_path do %>
                <span><i class="fab fa-gripfire">MuscleStone</i></span>
              <% end %>
            </li>
          </ul>  
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "#" do %>
                <span><i class="fas fa-heart">いいね一覧</i></span>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <span><i class="fas fa-clock">タイマー</i></span>
              <% end %>
            </li>
            <li>
              <%= link_to new_workout_path do %>
                <span><i class="fas fa-file-signature">投稿する</i></span>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user.id) do %>
                <span><i class="fas fa-user-circle">マイページ</i></span>
              <% end %>
            </li>
          <% else %>
          <ul class="nav navbar-nav navbar-left">
            <li>
              <%= link_to root_path do %>
                <span><i class="fab fa-gripfire">MuscleStone</i></span>
              <% end %>
            </li>
          </ul>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(2500);
      });
    </script>
  </body>
</html>
